
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
body{
  overflow-x: hidden;
}
/*-----------pages styling------*/
.home, .services, .contact-us, .sign-up, .development, .marketing, .sales {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.pre-content{
  padding: 10px;
  margin: auto;
  font-size: 20px;
  width: 100%;
 display: inline-block;
}
.precont-link{
text-align: center;
}
.filt{
  float: right;
  justify-content: flex-end;
}
.preclass{
 padding: 7px;
  text-align: space-between;
}
.mylink{
  list-style: none;
  text-decoration: none;
}
thead #translate{
  text-indent: -30px;
}
thead #translates{
  text-indent: -60px;
}
thead #translatee{
  text-indent: -65px;
}
.conta
.container{
  padding: 15px;
  overflow-x: scroll;
}
/*-----table-styling----*/

.table-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.tab-table-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.tab-table-container table{
  border-collapse: collapse;
  width: 80%;
  font-size: 14px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}
 .second{
width: 11px;
}
th,
td {
  text-align: left;
  padding: 10px;
  font-size: 15px;
}

th {
  background-color: #1e68b6;
  color: #fff;
}
.firsthead th{
  border-bottom: 0.5px solid rgb(223, 212, 212);

}

 tbody,td{
  border-bottom: 0.1px solid #d4cdcd;

 }
 tbody,tr:nth-of-type(odd){
  background-color: #f1f1f1;
 }
 tbody,tr {
  background-color: #fff;
  cursor: pointer;
  border-left: 0.2px solid #d4cdcd;
  border-right: 0.2px solid #d4cdcd;
}
tr:hover{
  background: #c0cad3;
}
.clear{
  width: 50px;
}
.clear:hover{
  width: 51px;
  background-color: #1888ff;
  color: #fff;
}

/*----formss-----*/
.fieldset1 {
  font-family: sans-serif;
  overflow-x: hidden;
  color: #000;
  width: 60%;
  font-weight: 400;
  margin-left: 2rem;
  padding: 10px; 
}
.fieldset2 {
  font-family: sans-serif;
  color: #000;
  width: 60%;
  font-weight: 400;
  margin-left: 2rem;
  padding: 10px; 
}
.item-no{
  width: 90px;
}
.add-schedule{
  padding: 5px;
  outline: none;
 
  background-color: #8eb1d6;
  
}
.add-schedule:hover{
  padding: 6px;
  outline: none;
  background-color: #44aa6f;
}
.delete-schedule{
  background-color: #db6767;
  padding: 5px;
  margin-left: 8px;
  outline: none;
}
.delete-schedule:hover{
  background-color: #a12626;
  padding: 6px;
  margin-left: 8px;
  outline: none;
}
.add-schedule a{
  text-decoration: none;
 color: #000;
}
.add-schedule-s{
  padding: 5px;
  width: 100px;
  outline: none;
  background-color: #8eb1d6;
}
.add-schedule-s a{
  text-decoration: none;
 color: #000;
}
.time-periods{
  padding: 5px;
  color: #000;

}
.time-periods p{
  padding: 10px;
  font-weight: bold;
}
.content{
  padding: 10px;
}
.input {
  display: grid;
grid-template-columns: 250px 100px;
  padding: 10px;
 }
 .input-second{
display: flex;
padding: 10px;
 }
 .input span{
 width: 50px;
 word-wrap: break-word;
 }
 .input-name{
  width: 20rem;
 }

 .file-label{
  text-decoration: underline;
  padding: 5px;
  display:inline-block;
  color: #0a79f8;
   cursor: pointer;
 }
 .input-right{
  margin-left: 40px;
  width: 100px;
 }
 .input-rightss{
  margin-left: 40px;
  margin-right: 5px;
  width: 300px;
 }
 .input-ww{
  width: 150px;
 }
.box{
  background-color: #1e68b6;
  color: #fff;
  width: 100%;
  height: 30px;
  text-align: center;
  border-radius: 2px;
  justify-content: center;
}
.box p{
padding: 5px;
  text-align: center;
  align-items: center;
}
.camlimit{
 display: inline-block;
 width: 100%;
}
.cam-right{
  justify-content: flex-end;
  float: right;
  padding-right: 8px;
  margin-top: -10px;
}
.cam-left{
  text-align: center;
  margin-top: -10px;
  margin-left: 80px;
}
#aircrafttype{
  width: 180px;
}
.small-input{
  width: 50px;
}
.CAM{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}
#tah,#tac{
  width: 80px;
}
.textarea{
  width: 28rem;
  padding: 5px;
  height: 80px;
}
/*------Tabs-----*/
.document-head{
  padding: 15px;
}
.document-head span{
  padding: 3px;
}
.input-number{
  width: 150px;
}
.datewidth{
  width: 100px;
}
.errorrmsg{
color:#a12626;
}
#real-file{
display: none;
}
/*-----CAM TABS-----*/
.form-containers{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 10px;
  overflow-x: scroll;
}
.span-head{
  padding: 7px;
  font-weight: bold;
  background-color: #1e68b6;
 color: #fff;
}
.cam-cont{
  display: flex;
  padding: 8px;
  width:220px;
}
.griditems{
  padding: 8px;

}
.serial-num{
width: 165px;
}
.SPN1{
  width: 220px;
 overflow-wrap: break-word;
}
.cam-cont span{
  padding: 10px;
}
.cam-input{
  width: 80px;
  justify-content: end;
  align-items: flex-end;
}
.button-check:hover{
  width: 51px;
  background-color: #1888ff;
  color: #fff;
}
.form-itemss{
  margin: auto;
  padding: 10px;
}
.form-itemss1{
  padding: 10px;
  border-right: 1px solid #5cabff;
  border-top: 2px solid #5cabff;
  border-bottom: 2px solid #5cabff;
}
.form-container-item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
.mygrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*--responsive mobile view---*/
@media screen and (max-width: 850px){
  .table-container {
    overflow-x: scroll;
  }
  .tab-table-container{
    overflow-x: scroll;
  }
}
@media screen and (max-width: 525px){
  .form-container-item{
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
  }
}
@media screen and (max-width: 635){
  .form-containers{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      padding: 30px;
  }
  .input-name{
    width: 10rem;
   }
  .mygrid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
  }
  .form-itemss1{
      padding: 10px;
      border-right: 1px solid #5cabff;
      border-top: 2px solid #5cabff;
      border-bottom: 2px solid #5cabff;
  }
}